@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Oswald:wght@245&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@630&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

:root {
    --primary-color: #42200b;
    --secondary-color: #ffc135;
    --text-dark: #212529;
    --white: #ffffff;
    --max-width: 1980px;
    --header-font-1: "Alfa Slab One", serif;
    --header-font-2: "Bebas Neue", sans-serif;
  }

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
* {
    box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* font-weight: 500; */
    
  line-height: 26px;
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}
a {
  font-family: Poppins;
  font-size: clamp(14px, 5vw, 25px);
  text-decoration: none;
  color: rgb(255, 255, 255); 
  position: relative; 
}
ol {
  margin-right: 20px;
  /* font-weight: 300px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0; */
}
dl {
  margin-right: 35px;
  display: inline-block;
  justify-content: space-between;
}
ul {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
li {

  /* margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0; */

  justify-content: space-between;
  display: inline-block;
}
.buton {
  display: none;
}
nav {
  height: 85px;
  background-color: #222;
  max-width: 1900px;
}
.link {
  
  font-style: italic; 
  justify-content: space-between;
  max-width: 1900px;

}
.link::after, .link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: rgb(255, 179, 0); 
  transition: all 0.6s ease-in-out;
}
.link::after {
  top: 0;
  right: 0;
  transform-origin: right;
}
.link::before {
  left: 0;
  bottom: 0;
  transform-origin: left;
}
.link:hover::after, .link:hover::before {
  width: 100%;
}
h1, h2 {
  margin: 0;
}
.header {
  background-image: url(../photo/bgf.jpg); 
  height: 1080px;
  max-width: 1920px;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 20px;
  flex-direction: column;
  display: flex;
   
}
.container {
  align-items: center;
  justify-content: space-between;
  display: flex;
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__title {
  max-width: 1900px;
  font-weight: 1900px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  background-color: #222; 
  align-items: center;
  margin-bottom: 320px;
  border: 0;
  padding: 0;
}
.header__title-left {
  /* text-transform: uppercase;   */
  justify-content: space-between;
  max-width: 1900px;
  display: flex;
  align-items: center;
}
.header__title-right {
  max-width: 1900px;
  display: flex;
  justify-content: space-between;
  align-items: right;
  /* min-width: 270px; */

}
.header_title_right img{
  margin-right: 5px;
    
}

/* .menu__item {
  justify-content: space-between;
  max-width: 1900px;
  margin-right: 50px;
}
.menu_item a:hover {
  opacity: 1;
  border-bottom: 3px solid black;
 } */

.header_content {
    word-wrap: break-word;
    width: 650px;
    height: 300px;
    margin: 25px;
}
.header_content p{
    margin-top: -2px;
}

.header__content__title{
  width: 900px;
  height: 100px;
  padding-left: 45px;
  font-family: "Inter", sans-serif;
  font-weight: 820px;
  font-size: 32px;
  line-height: 55px;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}

.header__content__title span{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: rgb(0, 0, 0);
}
h1 span{
    color: #000000;
    text-decoration: underline;
}
.btn {
    height: 50px;
    width: 200px;
    background-color: rgb(194, 142, 0);
    border: none;
    border-radius: 120px;
    box-shadow: -6px -6px 10px #f4d570,
                6px 6px 10px #00000026;
}
.btn:hover{
    box-shadow: 2px 2px 2px #fff870,
                -2px -2px 2px #00000026;
}
.header_content_button{
  margin-top: 65px;
  margin-left: 35px;
  opacity: 0.9;
  font-size: 22px;
  line-height: 110px;
}
.header_content_button a:hover{
    opacity: 1;
    color: #ffffff;
    transition: all 0.5s;
}
.header_content a{
    display: inline-block;
    max-width: 300px;
    height: 120px;
    width: 280px;
    border: 1px solid rgb(0, 0, 0);
    padding: 16px 23px;
    border-radius: 50px;
    font-family: "Inter", sans-serif;
    background-color: rgb(0, 0, 0);
    color:rgb(0, 0, 0) ;
    margin-right: 40px;
}
.about {
    max-width: 1920px;
    min-width: 1920px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
}
.about__inner {
    background-color: rgba(205, 168, 97, 0.1);
    display: flex;
    align-items: center;
}
/* .about__decor {

} */
.about__content {
    position: relative;
    margin-left: 90px;
    max-width: 515px;
}
.sectoin__title {
    font-family: "Inter", sans-serif;
    font-weight: 600px;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid #ff8800;
    display: inline-block;
    margin-bottom: 20px;

}
.about__slogan {
    font-family: "Inter", sans-serif;
    font-weight: 600px;
    font-size: 76px;
    line-height: 93px;

}
.about__text {
    color: #34383d;
    opacity: 0.8;
    margin-bottom: 25px;
}

.order__container h3 {
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--header-font-2);
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }
  
  .order__container .section__header {
    margin-bottom: 1rem;
  }
  
  .order__container .section__description {
    font-size: medium;
    margin-bottom: 15px;

    text-align: center;
  }
  
  .order__grid {
    display: grid;
    gap: 2rem 1rem;
  }
  
  .order__card {
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: 0.3s;
  }
  
  .order__card:hover {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }
  
  .order__card img {
    max-width: 250px;
    margin-inline: auto;
    margin-bottom: 2rem;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.3));
  }
  
  .order__card h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .order__card p {
    margin-bottom: 2rem;
    font-weight: 500;
    color: var(--text-dark);
    line-height: 1.75rem;
  }

.section__container {
    max-width: 1920px;
    margin: auto;
    padding: 5rem 1rem;
  }
  
.section__order h2 {
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    font-size: 1.75rem;
    font-weight: 400;
    font-family: var(--header-font-2);
    color: var(--primary-color);
    border: 2px dashed var(--primary-color);
    text-align: center;

}

.event__content {
    display: grid;
    gap: 2rem;
    padding: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .event__details {
    text-align: center;
    font-size: x-large;
    background-color: rgba(205, 168, 97, 0.1);
    padding-top: 15%;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10%;
  }
  
  .event__details h3 {
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--header-font-2);
    color: var(--text-dark);
  }
  
  .event__details .section__header {
    margin-bottom: 1rem;
  }
.reserv{
    background-image: url("../photo/header-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px;
    height: 800px;
}
.reservation {
    align-items: center;
    background-color: #f8f9fa;
    padding: 80px;
    max-width: 600px;
    margin: 2rem auto;
    border: 1px solid #e9ecef;
    border-radius: 4px;
}
.form-row {
    margin-bottom: 1rem;
}
label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
input[type="text"], input[type="tel"], input[type="datetime-local"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
} 

  .container_footer {
    margin-top: 400px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: "Catamaran", sans-serif;
  }
  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .newsletter {
    display: flex;
    width: 100%;
    position: relative;
    top: 60px;
    max-width: 1000px;
    margin: auto;
    background-color: #303035;
    justify-content: space-around;
    align-items: center;
    padding: 20px 15px;
    border-radius: 10px;
  }
  .newsletter-left h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    opacity: 0.5;
    letter-spacing: 1px;
  }
  .newsletter-left h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  .newsletter-right {
    width: 500px;
  }
  .newsletter-input {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
  }
  .newsletter-input input {
    border: none;
    outline: none;
    background: transparent;
    width: 80%;
    padding-left: 10px;
    font-weight: 600;
  }
  .newsletter-input button {
    background-color: #201e1e;
    padding: 9px 15px;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
  }
  .newsletter-input button:hover {
    background-color: #3a3939;
  }
  .footer-content {
    background-color: black;
    padding: 100px 40px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-main {
    margin: 10px 20px;
  }
  .footer-main h2 {
    color: #ffffff;
    font-size: 1.6rem;
  }
  .footer-main p {
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .social-links {
    margin: 15px 0px;
    display: flex;
    gap: 8px;
  }
  .social-links a {
    padding: 5px;
    background-color: #dbd8e3;
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
  }
  .social-links a:hover {
    opacity: 0.7;
  }
  .social-links a i {
    margin: 2px;
    font-size: 1.1rem;
    color: #201e1e;
  }
  .links {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 40px 20px;
  }
  .links p {
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-weight: 600;
    color: #ffffff;
  }
  .links a {
    font-size: 0.8rem;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 600;
    color: #dbd8e3;
    transition: 0.5s all;
  }
  .links a:hover {
    color: #303035;
  }
  @media (max-width: 860px) {
    ul, ol, li, dl {
      display: block;
    }
  }
  @media screen and (max-width: 715px) {
    .newsletter {
      flex-direction: column;
    }
    .newsletter-left {
      margin-bottom: 10px;
    }
    .newsletter-right {
      width: 90%;
    }

  }
  @media (width < 850px){
    .container_footer {
      margin-top: 840px;
    } 
  }

  @media (width > 768px) {
    /* nav {
      position: static;
      padding: 2rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    } 
    .link {
      position: static;
      padding: 0;
      flex-direction: row;
      justify-content: flex-end;
      background-color: transparent;
      transform: none;
      z-index: 1;
    }
  
    .link a {
      color: var(--primary-color);
    }
  
    .nlink a:hover {
      color: var(--tertiary-color);
    } */

    /* .header__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
   */
   .header__title {
    width: 1900px;
    height: 85px;
   }

   /* nav {
    width: 1900px;
   } */

    h2 {
      margin-inline-start: unset;
    }
  
    .order__grid {
      grid-template-columns: repeat(3, 1fr);
    }

    .event__image, .about__image {
        grid-area: 1/2/2/3;
      }
        
    .reservation form {
      max-width: 600px;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .reservation img {
      display: flex;
      position: absolute;
      z-index: -1;
    }
  }