@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Oswald:wght@245&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@630&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

:root {
    --primary-color: #42200b;
    --secondary-color: #ffc135;
    --text-dark: #212529;
    --white: #ffffff;
    --max-width: 1980px;
    --header-font-1: "Alfa Slab One", serif;
    --header-font-2: "Bebas Neue", sans-serif;
  }

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
* {
    box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 26px;
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}
a {
  font-family: Poppins;
  font-size: clamp(14px, 5vw, 25px);
  text-decoration: none;
  color: rgb(255, 255, 255); 
  position: relative; 
}

h1, h2 {
  margin: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: right;
    justify-content: space-between;
    transition: 0.5s;
    width: 100%;
    padding: 20px 30px;
    background: rgba(253, 253, 253, 0.865);
  }
  header .sticky{
    position: fixed;
    padding: 10px 100px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  }
  header .logo{
    color: #f6cc42;
    font-size: 2em;
    text-decoration: none;
    font-weight: 700;
    margin-right: 150px;
  }
  header .sticky.logo{
    color: #111;
  }
  
  header .logo span{
    color: #000000;
  }
  header .navigation{
    /* position: relative; */
    display: flex;
    align-items: right;
  }
  header .navigation li{
    list-style: none;
    margin-left: 30px;
    align-items: right;
  }
  header .navigation li a{
    text-decoration: none;
    color: #000000;
    font-weight: 300;
    align-items: right;
  }
  header .navigation li a:hover{
    color: #ff0157;
  }
  header .sticky.navigation li a{
    color: #111;
  }
  
#hero {
    background: url('./img/3.jpg') no-repeat center center/cover;
    height: 550px;
    color: #000000;
    text-align: center;
    justify-content: center;
    padding: 200px 20px;
    margin-bottom: 20px;
}

#hero h2 {
    font-size: 3em;
}

#hero p {
    font-size: 1.5em;
}

.content-section {
    display: flex;
    align-items: center;
    padding: 60px 20px;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-section.reverse {
    flex-direction: row-reverse;
}

.content-section .text,
.content-section .image {
    flex: 1;
    padding: 20px;
}

.content-section .image img {
    max-width: 100%;
    
    height: auto;
    border-radius: 10px;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.footer-content {
    background-color: black;
    padding: 100px 40px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-main {
    margin: 10px 20px;
  }
  .footer-main h2 {
    color: #ffffff;
    font-size: 1.6rem;
  }
  .footer-main p {
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .social-links {
    margin: 15px 0px;
    display: flex;
    gap: 8px;
  }
  .social-links a {
    padding: 5px;
    background-color: #dbd8e3;
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
  }
  .social-links a:hover {
    opacity: 0.7;
  }
  .social-links a i {
    margin: 2px;
    font-size: 1.1rem;
    color: #201e1e;
  }
  .links {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 40px 20px;
  }
  .links p {
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-weight: 600;
    color: #ffffff;
  }
  .links a {
    font-size: 0.8rem;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 600;
    color: #dbd8e3;
    transition: 0.5s all;
  }
  .links a:hover {
    color: #303035;
  }


@media (max-width: 768px) {
    .content-section,
    .content-section.reverse {
        flex-direction: column;
    }

    header h1 {
        font-size: 2em;
    }
    
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    
    #hero {
        padding: 50px 20px;
    }
    
    #hero h2 {
        font-size: 2.5em;
    }
    
    #hero p {
        font-size: 1.2em;
    }
    
    section h2 {
        font-size: 2em;
    }
    
    section p {
        font-size: 1em;
    }
}
